%nav.navbar.navbar-static-top.navbar-inverse{"ng-controller" => "NavbarCtrl"}
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => ""}
        %span.fa.fa-home
        Macgular
    #bs-example-navbar-collapse-6.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{"ng-href" => "/"} Home
